/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Set a minimum height to allow for larger content */
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 100vh; /* Set a minimum height for the container */
}

.column-container {
  flex: 1;
  margin: 20px; /* Add margin for separation */
}

.log-viewers-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.log-viewer {
  max-width: 300px; /* Adjust the max-width based on your design */
}

/* VideoFeed.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the body height to 100% of the viewport height */
}

.video-feed {
  width: 100%;
  max-width: 100%;
}

.video-feed iframe {
  width: 100%;
  height: 70vh; /* Adjust the height based on your design */
}
