/* VideoFeed.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the body height to 100% of the viewport height */
}

.video-feed-container {
  width: 100%;
  max-width: 100%;
  height: 100vh; /* Adjust the height based on your design */
}

.video-feed-container iframe {
  width: 90%;
  height: 40%; /* Take up the full height of the container */
}
